/* Шрифт дії */
@font-face {
    font-family: eUkraine;
    src: url(fonts/e-Ukraine-Thin.eot);
    src: url(fonts/e-Ukraine-Thin.eot?#iefix) format("embedded-opentype"), url(fonts/e-Ukraine-Thin.woff2) format("woff2"), url(fonts/e-Ukraine-Thin.woff) format("woff"), url(fonts/e-Ukraine-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: eUkraine;
    src: url(fonts/e-Ukraine-UltraLight.eot);
    src: url(fonts/e-Ukraine-UltraLight.eot?#iefix) format("embedded-opentype"), url(fonts/e-Ukraine-UltraLight.woff2) format("woff2"), url(fonts/e-Ukraine-UltraLight.woff) format("woff"), url(fonts/e-Ukraine-UltraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: eUkraine;
    src: url(fonts/e-Ukraine-Light.eot);
    src: url(fonts/e-Ukraine-Light.eot?#iefix) format("embedded-opentype"), url(fonts/e-Ukraine-Light.woff2) format("woff2"), url(fonts/e-Ukraine-Light.woff) format("woff"), url(fonts/e-Ukraine-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: eUkraine;
    src: url(fonts/e-Ukraine-Regular.eot);
    src: url(fonts/e-Ukraine-Regular.eot?#iefix) format("embedded-opentype"), url(fonts/e-Ukraine-Regular.woff2) format("woff2"), url(fonts/e-Ukraine-Regular.woff) format("woff"), url(fonts/e-Ukraine-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: eUkraine;
    src: url(fonts/e-Ukraine-Medium.eot);
    src: url(fonts/e-Ukraine-Medium.eot?#iefix) format("embedded-opentype"), url(fonts/e-Ukraine-Medium.woff2) format("woff2"), url(fonts/e-Ukraine-Medium.woff) format("woff"), url(fonts/e-Ukraine-Medium.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: eUkraine;
    src: url(fonts/e-Ukraine-Bold.eot);
    src: url(fonts/e-Ukraine-Bold.eot?#iefix) format("embedded-opentype"), url(fonts/e-Ukraine-Bold.woff2) format("woff2"), url(fonts/e-Ukraine-Bold.woff) format("woff"), url(fonts/e-Ukraine-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: eUkraineHead;
    src: url(fonts/e-UkraineHead-Thin.eot);
    src: url(fonts/e-UkraineHead-Thin.eot?#iefix) format("embedded-opentype"), url(fonts/e-UkraineHead-Thin.woff2) format("woff2"), url(fonts/e-UkraineHead-Thin.woff) format("woff"), url(fonts/e-UkraineHead-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: eUkraineHead;
    src: url(fonts/e-UkraineHead-UltraLight.eot);
    src: url(fonts/e-UkraineHead-UltraLight.eot?#iefix) format("embedded-opentype"), url(fonts/e-UkraineHead-UltraLight.woff2) format("woff2"), url(fonts/e-UkraineHead-UltraLight.woff) format("woff"), url(fonts/e-UkraineHead-UltraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: eUkraineHead;
    src: url(fonts/e-UkraineHead-Light.eot);
    src: url(fonts/e-UkraineHead-Light.eot?#iefix) format("embedded-opentype"), url(fonts/e-UkraineHead-Light.woff2) format("woff2"), url(fonts/e-UkraineHead-Light.woff) format("woff"), url(fonts/e-UkraineHead-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: eUkraineHead;
    src: url(fonts/e-UkraineHead-Regular.eot);
    src: url(fonts/e-UkraineHead-Regular.eot?#iefix) format("embedded-opentype"), url(fonts/e-UkraineHead-Regular.woff2) format("woff2"), url(fonts/e-UkraineHead-Regular.woff) format("woff"), url(fonts/e-UkraineHead-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: eUkraineHead;
    src: url(fonts/e-UkraineHead-Medium.eot);
    src: url(fonts/e-UkraineHead-Medium.eot?#iefix) format("embedded-opentype"), url(fonts/e-UkraineHead-Medium.woff2) format("woff2"), url(fonts/e-UkraineHead-Medium.woff) format("woff"), url(fonts/e-UkraineHead-Medium.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: eUkraineHead;
    src: url(fonts/e-UkraineHead-Bold.eot);
    src: url(fonts/e-UkraineHead-Bold.eot?#iefix) format("embedded-opentype"), url(fonts/e-UkraineHead-Bold.woff2) format("woff2"), url(fonts/e-UkraineHead-Bold.woff) format("woff"), url(fonts/e-UkraineHead-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: eUkraineHead;
    src: url(fonts/e-UkraineHead-NAME.eot);
    src: url(fonts/e-UkraineHead-NAME.eot?#iefix) format("embedded-opentype"), url(fonts/e-UkraineHead-NAME.woff2) format("woff2"), url(fonts/e-UkraineHead-NAME.woff) format("woff"), url(fonts/e-UkraineHead-NAME.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

/* Код */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #828282;
}

a:hover {
    color: black;
    cursor: pointer;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

html,
body {
    font-family: "e-Ukraine";
    height: 100%;
}

.wrapper {

    overflow: hidden;
}

._container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: content-box;
}

header {
    white-space: nowrap;
}

.header__container {
    align-items: center;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu_item {
    flex: 1;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.vector {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}



.danil {
    display: flex;
    margin-top: 10px;

}

.name,
.camera-logo,
.name2 {
    flex: 1;

}

.name {
    text-align: left;
}

.camera-logo {
    text-align: center;
}

.name2 {
    text-align: right;
}

.photo-of-me img {
    max-width: 100%;
    height: auto;

}

@media (max-width: 600px) {


    .danil {
        flex-direction: column;
    }

    .name,
    .camera-logo,
    .name2 {
        text-align: center;
    }
}

#about_me {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
    margin-top: 200px;

}

#about_me h2 {
    margin-bottom: 50px;
}

#skills {
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
}

#skills h2 {
    margin-bottom: 50px;
}

.icons {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
}

.icons div {
    flex: 1;
    padding: 20px 40px;
    margin: 0 auto;
}

.icons div img {
    max-width: 50%;
    height: auto;
}

.portfolio_container {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: content-box;
}

.photo img {
    width: 100%;
    height: auto;

}

.photo {
    margin: 0 auto;
    margin-top: 60px ;
}

#galery {
    text-align: center;
    margin-top: 190px;
}

.icons_contact {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    text-align: center;
    
}

.icons_contact div {
    flex: 1;
    padding: 30px 60px;
    margin: 0 auto;

}

.icons_contact div img {
    max-width: 40%;
    height: auto;
}

h2{
    text-align: center;
}

#contact{
    margin: 100px auto;
}

